.chakra-modal__content {
    padding-bottom: 15px;
}

.chakra-form-control {
    margin-bottom: 15px;
}

.chakra-form-control--last {
    margin-bottom: 30px;
}

.enquiry-form input,
.enquiry-form textarea {
    border: 1px solid rgb(26, 32, 44);
}

.enquiry-form input[type="email"] {
    width: 100%;
}